* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(255, 255, 255);
}
.container {
  width: 90vw;
  height: 95vh;
  background-color: rgb(22, 20, 44, 0.75);
  backdrop-filter: blur(10px) saturate(200%);
  border-radius: 1.5rem;
  border: 1px solid rgb(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  display: flex;
}
